*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 24px;
}

a{text-decoration: none; color: #000000;}
ul, menu{list-style: none;}

.container{
    max-width: 1170px;
    margin: 0 auto;
}

/*header*/
header {
    width: 100%;
    display: flex;
    padding: 38px 0 0 0;
    background-image: url(img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
}

header .container{
    padding: 0 8px;
}

.logo {
    width: 31px;
    height: 25px;
}

header menu{
    float: right;
    display: flex;
    flex-wrap: wrap;
    margin-left: 10%;
}

header menu li{
    font-size: 12px;
    margin: 8px 0;
    text-transform: uppercase;
    font-weight: 600;
    margin-right: 30px;
}

header menu li:last-child{
    margin-right: 0;
}

header menu li:first-child a{
    color: #00CAC4;
}

/*Баннер*/
.banner {
    max-width: 474px;
    margin: 171px 0 201px auto;
    float: right;
}

.banner h2{
    font-size: 38px;
    line-height: 36px;
}

.banner p {
    font-size: 18px;
    font-family: 'Nunito Sans', sans-serif;
    color: #797979;
    margin: 39px 0;
    margin-bottom: 62px;
}

.banner a {
    font-size: 12px;
    color: #ffffff;
    text-transform: uppercase;
    padding: 23px 46px;
    background: #00CAC4;
}


/*Контент*/
.content .container{
    background: #fff;
}

/*О нас*/
.about{
    max-width: 100%;
    background: #ffffff;
    padding: 100px 0;
    text-align: center;
}

.about h2{
    font-size: 30px;
}

.about p {
    color: #797979;
    font-family: 'Nunito Sans', sans-serif;
    max-width: 620px;
    margin: 37px auto;
}

/*Мастерство*/
.skill {
    width: 100%;
    background: #F8F9F9;
}

.skill .container{
    background-image: url(img/skill.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    padding: 0;
}

.statistik {
    background: #F8F9F9;
    width: calc(50% - 85px);
    padding: 164px 85px 164px 0;
}

.skill img {
    object-fit: none;
    width: 50%;
    background: #EAEAEA;
}

.skill h2{
    line-height: 36px;
    font-size: 30px;
}

.statistik p, .statistik div{
    display: inline-block;
    font-size: 12px;
    text-transform: uppercase;
    margin: 41px 0 19px 0;
}

.skill hr{
    position: relative;
    top: 0;
    border:none;
    background: #D9D9D9;
    height: 3px;
    width: 100%;
}

hr.percent1, hr.percent2, hr.percent3 {
    position: relative;
    top: -3px;
    background: #00CAC4;
    height: 3px;
    width: 90%;
}
hr.percent1 {width: 75%;}
hr.percent3 {width: 65%;}


/*Информация*/
.info {
    width: 100%;
    height: 100%;
    background: #00CAC4;
}

.info .container{
    padding: 100px 0;
    display: flex;
    flex-wrap: wrap;
    background: #00CAC4;
}

.info .container > div{
    display: flex;
    position: relative;
    margin: auto 0;
    color: #ffffff;
    width: 25%;
    height: 37px;
}

.info img{
    margin-right: 27px;
}

.info div{
    font-size: 18px;
}

.info p{
    font-size: 12px;
    text-transform: uppercase;
}

/*Фотографии*/
.images ul {
    max-width: 1170px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    background: #DEDEDE
}

.images li{
    cursor: pointer;
    position: relative;
    text-align:center;
    width: 25%;
    max-height: 280px;
    background: #202020;
}

.images .container{
    opacity: 1;
    position: relative;
}

.images div{
    width: 100%;
    height: 100%;
    background: #202020;
    position:absolute;
    opacity: 0;
    transition: opacity 0.3s;
}

.images img:first-child{
    padding: 40% 0 0 0;
    width: 48px;
    height: 30px;
}

.images img{
    width: 100%;
    height: 100%;
}

.images li:hover div{
    opacity: 0.75;
}

.loadWork {
    cursor: pointer;
    background: #F5F5F5;
    padding: 45px 0;
    width: 100%;
    font-size: 12px;
    color: #8F8F8F;
    text-align: center;
    text-transform: uppercase;
}


/*Рабочий процесс*/
.workProcess{
    text-align: center;
    padding: 100px 0;
}

.workProcess h2{
    font-size: 30px;
    margin-bottom: 41px;
}

.workProcess p{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    color: #797979;
    max-width: 500px;
    text-align: center;
    margin: auto;
    margin-bottom: 57px;
}

.workProcess video{
    width: 100%
}

/*Наши умения*/
.ability {
    padding: 70px 0;
    width: 100%;
    background: #F5F5F5;
}

.ability ul{
    display: flex;
    flex-wrap: wrap;
    background: #F5F5F5;
}

.ability ul li{
    padding: 30px 0;
    text-align: center;
    width: 25%;
}

.ability img{
    margin-bottom: 29px;
}

.ability h2{
    margin-bottom: 19px;
    text-transform: uppercase;
    font-size: 12px;
}

.ability p{
    font-family: 'Nunito Sans', sans-serif;
    color: #797979;
    font-size: 16px;
    max-width: 229px;
    margin: auto;
}

/*Цитата*/
.quote {
    width: 100%;
    padding: 174px 0 64px 0;
    background: #00CAC4;
    text-align: center;
    color: #ffffff;
}

.quote .container{
    background: #00CAC4;
}

.quote h2 {
    font-size: 30px;
    margin-bottom: 35px;
    line-height: 36px;
}

.quote p{
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
}

.quoteRadio{
    display: inline-flex;
}

.quoteRadio div{
    width: 6px;
    height: 6px;
    margin: 91px 4.5px 0 4.5px;
    background: #ffffff;
    border-radius: 50%;
}

/*Партнеры*/
.partner {
    display: flex;
    width: 100%;
    height: 100%;
    background: #ffffff;
}

.partner .container{
    width: 100%;
}

.partner div{
    padding: 30px 0;
    display: inline-block;
    width: calc(20% - 4px);
    text-align: center;
}

/*Написать сообщение*/
.sendMessage {
    width: 100%;
    background: #F5F5F5;
    padding: 100px 0;
    text-align: center;
}

.sendMessage .container{
    background: #F5F5F5;
    max-width: 700px;
}

.sendMessage h2{
    font-size: 30px;
    margin-bottom: 35px;
}

.sendMessage p{
    font-family: 'Nunito Sans', sans-serif;
    color: #797979;
    font-size: 16px;
    margin-bottom: 23px;
}

.sendMessage form div:first-child{
    display: flex;
}

.sendMessage input, .sendMessage textarea{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 15px;
    color: #797979;
    width: 100%;
    padding: 18px 20px;
    border: none;
    background: #ffffff;
    margin: 15px;
}

.sendMessage textarea{
    min-height: 170px;
    max-width: calc(100% - 68px);
    min-width: calc(100% - 68px);
}

.sendMessage button{
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    color: #ffffff;
    background: #00CAC4;
    margin-top: 15px;
    padding: 22px 35px;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
}

/*footer*/
footer {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 15px;
    width: 100%;
    background: #0C0C0C;
    padding: 100px 0;
    color: #ffffff;
}

footer a{
    color: #ffffff;
}

footer .container{
    display: flex;
    flex-wrap: wrap;
}

.footerMainMenu {
    display: flex;
    flex-wrap: wrap;
}

.license{
    margin-right: 245px;
}

.license h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    margin-bottom: 27px;
}

.contacts {
    margin-right: 145px;
}

.footerInfo {
    margin-right: 55px;
}

.footerMenu {
    margin-right: 135px;
}

/*Медиа выражения*/
@media screen and (max-width: 1190px) {

    .banner {
        max-width: 474px;
        margin: 171px 0 201px auto;
        float: right;
    }

    .statistik {
        width: calc(50% - 60px - 8px);
        padding: 120px 60px 120px 8px;
    }

    .about {
        padding: 100px 8px;
    }

    .info .container {
        padding: 20px 8px;
    }

    .info .container > div {
        width: 50%;
        margin: 20px 0;
    }

    .ability ul li {
        padding: 60px 0;
        text-align: center;
    }

    .workProcess {
        text-align: center;
        padding: 100px 8px;
    }

    .quote {
        padding: 80px 8px;
        width: calc(100% - 16px);
    }

    .quoteRadio div {
        margin: 60px 4.5px 0 4.5px;
    }

    .sendMessage {
        padding: 60px 0;
    }

    .footerMainMenu{
        width: 100%;
    }

    .footerMainMenu menu {
        margin-top: 35px;
    }

    .contacts {
        width: 100%;
        margin-right: 0;
        margin-top: 35px;
    }

    footer {
        width: calc(100% - 16px);
        padding: 100px 8px;
    }
}

@media screen and (max-width: 700px) {
    .logo {
        display: block;
        margin-bottom: 20px;
    }

    header menu {
        float: left;
        margin-left: 0;
    }

    .banner {
        width: 100%;
    }

    .statistik {
        width: calc(50% - 30px - 8px);
        padding: 120px 30px 120px 8px;
    }

    .info .container {
        padding: 20px 8px;
    }

    .info .container > div {
        width: 50%;
        margin: 20px 0;
    }

    .ability {
        padding: 35px 0;
        width: 100%;
        background: #F5F5F5;
    }

    .ability ul li {
        padding: 35px 0;
        text-align: center;
        width: 50%;
    }

    .partner {
        height: 100%;
    }

    .partner div {
        width: 40%;
    }

    .quote {
        padding: 50px 8px;
        width: calc(100% - 16px);
    }

    .quoteRadio div {
        margin: 35px 4.5px 0 4.5px;
    }

    .sendMessage {
        padding: 35px 0;
    }
}