*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

a{text-decoration: none; color: #000000;}
ul, menu{list-style: none;}

.container{
    max-width: 1170px;
    margin: 0 auto;
}

header{
    width: 100%;
    display: flex;
    padding: 38px 0 0 0;
}

.logo {
    width: 31px;
    height: 25px;
}

header menu{
    float: right;
    display: flex;
}

header menu li{
    font-size: 12px;
    margin: 8px 0;
    text-transform: uppercase;
    font-weight: 600;
    margin-left: 30px;
}

header menu li:first-child{
    margin-left: 0;
}

header menu li:first-child a{
    color: #00CAC4;
}

.banner {
    margin: 171px 0 201px calc(100% - 474px);
    float: right;
}

.background_banner{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}

.banner h2{
    font-size: 38px;
}

.banner p {
    font-size: 18px;
    font-family: 'Nunito Sans', sans-serif;
    color: #797979;
    margin: 39px 0;
    margin-bottom: 62px;
}

.banner a {
    font-size: 12px;
    color: #ffffff;
    text-transform: uppercase;
    padding: 23px 46px;
    background: #00CAC4;
}

.content .container{
    background: #fff;
}

.about{
    width: 100%;
    background: #ffffff;
    padding: 100px 0;
    text-align: center;
}

.about h2{
    font-size: 30px;
}

.about p {
    color: #797979;
    font-family: 'Nunito Sans', sans-serif;
    max-width: 620px;
    margin: 37px auto;
}

.skill {
    width: 100%;
    background: #F8F9F9;
}

.skill .container{
    display: flex;
    background: #F8F9F9;
    padding: 0;
}

.statistik {
    width: 50%;
    margin: 164px 85px 164px 0;;
}

.skill img {
    object-fit: none;
    width: 50%;
    background: #EAEAEA;
}

.skill h2{
    font-size: 30px;
}

.statistik p, .statistik div{
    display: inline-block;
    font-size: 12px;
    text-transform: uppercase;
    margin: 41px 0 19px 0;
}

.skill hr{
    position: relative;
    top: 0;
    border:none;
    background: #D9D9D9;
    height: 3px;
    width: 100%;
}

hr.percent1, hr.percent2, hr.percent3 {
    position: relative;
    top: -3px;
    background: #00CAC4;
    height: 3px;
    width: 90%;
}
hr.percent1 {width: 75%;}
hr.percent3 {width: 65%;}

.info {
    width: 100%;
    height: 100%;
    background: #00CAC4;
}

.info .container{
    padding: 102px 0;
    display: flex;
    background: #00CAC4;
}

.info .container > div{
    display: flex;
    position: relative;
    margin: auto 0;
    color: #ffffff;
    width: 25%;
    height: 37px;
}

.info img{
    margin-right: 27px;
}

.info div{
    font-size: 18px;
}

.info p{
    font-size: 12px;
    text-transform: uppercase;
}

.images ul {
    max-width: 1170px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    background: #DEDEDE
}

.images li{
    cursor: pointer;
    position: relative;
    text-align:center;
    width: 25%;
    max-height: 280px;
    background: #202020;
}

.images div{
    width: 100%;
    height: 100%;
    background: #202020;
    position:absolute;
    opacity: 0;
    transition: opacity 0.3s;
}

.images img:first-child{
    padding: 40% 0 0 0;
    width: 48px;
    height: 30px;
}

.images img{
    width: 100%;
    height: 100%;
}

.images li:hover div{
    opacity: 0.75;
}

.loadWork {
    cursor: pointer;
    background: #F5F5F5;
    padding: 45px 0;
    width: 100%;
    font-size: 12px;
    color: #8F8F8F;
    text-align: center;
    text-transform: uppercase;
}

.workProcess{
    text-align: center;
    margin: 100px 0;
}

.workProcess h2{
    font-size: 30px;
    margin-bottom: 41px;
}

.workProcess p{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    color: #797979;
    max-width: 500px;
    text-align: center;
    margin: auto;
    margin-bottom: 57px;
}

.workProcess video{
    width: 100%
}

.ability {
    padding: 70px 0;
    width: 100%;
    background: #F5F5F5;
}

.ability ul{
    display: flex;
    flex-wrap: wrap;
    background: #F5F5F5;
}

.ability ul li{
    padding: 30px 0;
    text-align: center;
    width: 25%;
}

.ability img{
    margin-bottom: 29px;
}

.ability h2{
    margin-bottom: 19px;
    text-transform: uppercase;
    font-size: 12px;
}

.ability p{
    font-family: 'Nunito Sans', sans-serif;
    color: #797979;
    font-size: 16px;
    max-width: 229px;
    margin: auto;
}

.quote {
    width: 100%;
    padding: 174px 0 64px 0;
    background: #00CAC4;
    text-align: center;
    color: #ffffff;
}

.quote .container{
    background: #00CAC4;
}

.quote h2 {
    font-size: 30px;
    margin-bottom: 35px;
}

.quote p{
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
}

.quoteRadio{
    display: inline-flex;
}

.quoteRadio div{
    width: 6px;
    height: 6px;
    margin: 91px 4.5px 0 4.5px;
    background: #ffffff;
    border-radius: 50%;
}

.partner {
    display: flex;
    width: 100%;
    height: 200px;
    background: #ffffff;
}

.partner .container{
    width: 100%;
}

.partner div{
    padding: 30px 0;
    display: inline-block;
    width: calc(20% - 4px);
    text-align: center;
}